body {
    background: yellow;
}

/*----------------------combined text align for all classes----->*/
.align-it-center {
    text-align:center;
}

/*header, p {*/
/*    text-align:center;*/
/*}*/

/*#banner-button {*/
/*    text-align:center;*/
/*}*/



/*#current-word {*/
/*    text-align:center;*/
/*}*/


/*.score-board {*/
/*    text-align:center;*/
/*}*/

/*.instruction-label {*/
/*    text-align: center;*/
    
/*}*/

/*--------------------------Category selection javascript-------->*/

#level-button{
    display:none;
    /*text-align:center;*/
    margin-top:10px!important;
}

.inactive{
    pointer-events: none;
    color:rgb(0,0,0,0.5);
}

.active {
    background-color:#28a745!important;
}

.on-start {
    margin-top:10px;
}

/*Count-down Timer style */

#user-time{
    font-size: -webkit-xxx-large;
    font-style: normal;
    width: 10px;
    font-family: "digital-7regular";
}

/*---------------------------------Checkbox player wins!------->*/
.align{
    color:green;
    margin-top: 20px !important;
    display: none;
    
}

.instruction-card {
    border: 1px solid black;
}

.hide-table {
    display: none;
}